#contenedor-pasarela{
    width: 100%;
    height: 450px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 10px;
}
#contenedor-pasarela .card{
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background-image: url(../practicabuenavista/img/card1.1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s ease-in-out;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}



#contenedor-pasarela .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    opacity: 0; 
    transition: opacity 0.3s; 
    border-radius: 15px;
}




#contenedor-pasarela .card2{
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background-image: url(../practicabuenavista/img/carhartt4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s ease-in-out;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#contenedor-pasarela .card2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    opacity: 0; 
    transition: opacity 0.3s; 
    border-radius: 15px;
}
#contenedor-pasarela .card3{
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background-image: url(../practicabuenavista/img/card1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s ease-in-out;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#contenedor-pasarela .card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    opacity: 0; 
    transition: opacity 0.3s; 
    border-radius: 15px;
}
#contenedor-pasarela .card4{
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background-image: url(../practicabuenavista/img/chaqueta7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s ease-in-out;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#contenedor-pasarela .card4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0; 
    transition: 0.3s; 
    border-radius: 15px;
}
#contenedor-pasarela .card5{
    width: 250px;
    height: 400px;
    border-radius: 15px;
    background-image: url(../practicabuenavista/img/pantalones\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s ease-in-out;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
#contenedor-pasarela .card5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    opacity: 0; 
    transition:  0.3s; 
    border-radius: 15px;
}

#contenedor-pasarela .card .text-title{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#contenedor-pasarela .card .text-description{
    color: aliceblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    padding: 5px;
}
#contenedor-pasarela .card:hover::before{
    opacity: 1;
}
#contenedor-pasarela .card:hover{
    transform: scale(1.05);
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card:hover .text-description{
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card:hover .text-title{
    position: relative;
}

/* parte 2 dlos horver de las taejetar2 */
#contenedor-pasarela .card2 .text-title{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#contcontenedor-pasarelaenedor7 .card2 .text-description{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    padding: 5px;
}
#contenedor-pasarela .card2:hover::before{
    opacity: 1;
}
#contenedor-pasarela .card2:hover{
    transform: scale(1.05);
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card2:hover .text-description{
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card2:hover .text-title{
    position: relative;
}
/* parte3 */
#contenedor-pasarela .card3 .text-title{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#contenedor-pasarela .card3 .text-description{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    padding: 5px;
}
#contenedor-pasarela .card3:hover::before{
    opacity: 1;
}
#contenedor-pasarela .card3:hover{
    transform: scale(1.05);
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card3:hover .text-description{
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card3:hover .text-title{
    position: relative;
}
/* cuatro */
#contenedor-pasarela .card4 .text-title{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#contenedor-pasarela .card4 .text-description{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    padding: 5px;
}
#contenedor-pasarela .card4:hover::before{
    opacity: 1;
}
#contenedor-pasarela .card4:hover{
    transform: scale(1.05);
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card4:hover .text-description{
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease-in-out;
} 
#contenedor-pasarela .card4:hover .text-title{
    position: relative;
}
/* parte5 */
#contenedor-pasarela .card5 .text-title{
    font-size: 30px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#contenedor-pasarela .card5 .text-description{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    padding: 5px;
}
#contenedor-pasarela .card5:hover::before{
    opacity: 1;
}
#contenedor-pasarela .card5:hover{
    transform: scale(1.05);
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card5:hover .text-description{
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease-in-out;
}
#contenedor-pasarela .card5:hover .text-title{
    position: relative;
}